In [1]:
import pandas as pd
import numpy as np

In [2]:
data =pd.read_csv('play_tennis.csv')

In [3]:
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [6]:
data['outlook'].value_counts()
data['Net']=1

In [7]:
data

    day   outlook  temp humidity    wind play  Net
0    D1     Sunny   Hot     High    Weak   No    1
1    D2     Sunny   Hot     High  Strong   No    1
2    D3  Overcast   Hot     High    Weak  Yes    1
3    D4      Rain  Mild     High    Weak  Yes    1
4    D5      Rain  Cool   Normal    Weak  Yes    1
5    D6      Rain  Cool   Normal  Strong   No    1
6    D7  Overcast  Cool   Normal  Strong  Yes    1
7    D8     Sunny  Mild     High    Weak   No    1
8    D9     Sunny  Cool   Normal    Weak  Yes    1
9   D10      Rain  Mild   Normal    Weak  Yes    1
10  D11     Sunny  Mild   Normal  Strong  Yes    1
11  D12  Overcast  Mild     High  Strong  Yes    1
12  D13  Overcast   Hot   Normal    Weak  Yes    1
13  D14      Rain  Mild     High  Strong   No    1

In [14]:
data['play'].replace('No',0,inplace = True)
data['play'].replace('Yes',1,inplace = True)
data

    day   outlook  temp humidity    wind  play  Net
0    D1     Sunny   Hot     High    Weak     0    1
1    D2     Sunny   Hot     High  Strong     0    1
2    D3  Overcast   Hot     High    Weak     1    1
3    D4      Rain  Mild     High    Weak     1    1
4    D5      Rain  Cool   Normal    Weak     1    1
5    D6      Rain  Cool   Normal  Strong     0    1
6    D7  Overcast  Cool   Normal  Strong     1    1
7    D8     Sunny  Mild     High    Weak     0    1
8    D9     Sunny  Cool   Normal    Weak     1    1
9   D10      Rain  Mild   Normal    Weak     1    1
10  D11     Sunny  Mild   Normal  Strong     1    1
11  D12  Overcast  Mild     High  Strong     1    1
12  D13  Overcast   Hot   Normal    Weak     1    1
13  D14      Rain  Mild     High  Strong     0    1

In [32]:
data=data.groupby('outlook').sum()
data['ent']=-((data['play']/data['Net'])*np.log2(data['play']/data['Net'])+((data['Net']-data['play'])/data['Net'])*np.log2((data['Net']-data['play'])/data['Net']))

C:\Users\Sritiman Adak\python\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log2

In [33]:
data['Total']=14
data['Total']= (data['Net']/data['Total'])*data['ent']
data

          play  Net       ent     Total
outlook
Overcast     4    4       NaN       NaN
Rain         3    5  0.970951  0.346768
Sunny        2    5  0.970951  0.346768

In [25]:
te =-((9/14)*np.log2(9/14)+ (5/14)*np.log2(5/14))

In [26]:
te

0.9402859586706311

In [29]:
p=data['Total'].sum(axis = 0)

In [30]:
k =te -p

In [31]:
k

0.24674981977443933

In [34]:
d=data.groupby('outlook').sum()
d['ent']=-((d['play']/d['Net'])*np.log2(d['play']/d['Net'])+((d['Net']-d['play'])/d['Net'])*np.log2((d['Net']-d['play'])/d['Net']))

C:\Users\Sritiman Adak\python\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log2